.root {
    -fx-base: #3c3f41;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-accent: #334d66;
    -fx-focus-color: #297acc;
    -fx-faint-focus-color: #297acc33;
    -fx-selection-bar-non-focused: -fx-accent;
    -fx-default-button: -fx-accent;
    -fx-body-color: derive(-fx-color, 15%);
    -fx-body-color-bottomup: derive(-fx-color, 15%);
    -fx-body-color-to-right: derive(-fx-color, 15%);
    -fx-mark-color: derive(white, -10%);
    -fx-mark-highlight-color: white;
    CHART_COLOR_1: #bd6060;
    CHART_COLOR_2: #bd7f60;
    CHART_COLOR_3: #bd9e60;
    CHART_COLOR_4: #bdbd60;
    CHART_COLOR_5: #8ebd60;
    CHART_COLOR_6: #5ebd7e;
    CHART_COLOR_7: #60bdbd;
    CHART_COLOR_8: #607fbd;
    CHART_COLOR_9: #7060bd;
    CHART_COLOR_10: #b071bd;
    -fx-chart-grid-color: rgba(255, 255, 255, 0.2);
    -fx-chart-label-color: rgba(255, 255, 255, 0.5);
    -git-active-blue: #409fff;
    -git-red: #d25252;
    -git-yellow: #ffc66d;
    -git-green: #7dbf5c;
    -git-blue: #56aebf;
    -git-pink: #ab86bf;
    -git-grey: #808080;
    -git-badge: -fx-focus-color;
    -git-status-conflict: -git-yellow;
    -git-status-added: -git-green;
    -git-status-copied: -git-yellow;
    -git-status-renamed: -git-blue;
    -git-status-modified: -git-yellow;
    -git-status-removed: -git-red;
    -git-status-missing: -git-grey;
    -git-status-untracked: -git-pink;
    -fx-font: normal 13px "Roboto", sans-serif;
}

.scroll-bar > .thumb {
    -fx-background-radius: 1em;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-padding: 0;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-padding: 0.5em 0 0.5em 0;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0.5em 0 0.5em;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0 0.5em 0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0.5em 0 0.5em;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1 0 2 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-graphic-text-gap: 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-color: -fx-accent;
    -fx-background: -fx-accent;
}

.text-input {
    -fx-prompt-text-fill: derive(-fx-text-inner-color, -50%);
    -fx-highlight-fill: -fx-focus-color;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: derive(-fx-text-inner-color, -50%), transparent;
    -fx-border-width: 0 0 1 0, 0 0 1 0;
    -fx-border-insets: 0, 0 0 1 0;
}

.text-input:focused {
    -fx-border-color: -fx-focus-color, -fx-focus-color;
}

.text-input:readonly {
    -fx-border-color: transparent;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.text-area .content {
    -fx-background-radius: 0;
}

.text-area,
.text-area .content {
    -fx-background-color: derive(-fx-background, 5%);
}

.text-area:focused,
.text-area:focused .content {
    -fx-background-color: derive(-fx-background, 10%);
}

.menu-bar {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-item > .graphic-container {
    -fx-padding: 0em 0.75em 0em 0em;
    -fx-alignment: center;
}

.menu-item > .graphic-container .icon-wrapper {
    -fx-min-width: 24px;
}

.menu-item > .accelerator-text {
    -fx-text-fill: #aaa;
}

.context-menu {
    -fx-background-color: -fx-body-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 12, 0.0, 0, 8);
}

.context-menu .separator:horizontal .line {
    -fx-border-color: derive(-fx-body-color, 25%) transparent transparent transparent;
}

.tool-bar {
    -fx-background-color: derive(-fx-background, 25%), -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1 0 0 0, 1 0 1 0;
}

.tool-bar > .container > .separator {
    -fx-padding: 0 0.5em 0 0.5em;
}

.tool-bar > .container > .separator .line {
    -fx-border-color: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1px 0 2px;
    -fx-background-color: -fx-box-border;
    -fx-background-insets: 0;
}

.table-row-cell {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.icon {
    -fx-font: normal 16px "Font Awesome 5 Free", sans-serif;
    -fx-fill: -fx-text-base-color;
}

.icon.brand {
    -fx-font-family: "Font Awesome 5 Brands", sans-serif;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -fx-box-border, -fx-body-color;
}

.dialog-pane:header .header-panel .graphic-container .icon {
    -fx-font-size: 32px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 2, 2);
}

.dialog-pane:header .header-panel .graphic-container .info .icon { -fx-fill: #5bc0de; }

.dialog-pane:header .header-panel .graphic-container .warning .icon { -fx-fill: #f0ad4e; }

.dialog-pane:header .header-panel .graphic-container .error .icon { -fx-fill: #d9534f; }

.check-box > .box {
    -fx-padding: 0.3em 0.25em 0.4em 0.25em;
}

.check-box > .box > .mark {
    -fx-padding: 0.3em 0.4em 0.3em 0.4em;
    -fx-shape: "M39.363,79L16,55.49l11.347-11.419L39.694,56.49L72.983,23L84,34.085L39.363,79z";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
}

.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-padding: 0;
    -fx-text-fill: derive(-fx-focus-color, 15%);
}

.list-cell:filled:hover,
.tree-cell:filled:hover {
    -fx-background-color: #297acc16;
}

.list-cell:filled:selected,
.list-cell:filled:selected:hover,
.tree-cell:filled:selected,
.tree-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.combo-box-base:showing > .arrow-button > .arrow {
    -fx-shape: "M 0 4 l 3.5 -4 l 3.5 4 z";
}

.combo-box-base:editable {
    -fx-background-color: transparent;
}

.combo-box-base:editable > .arrow-button {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: derive(-fx-text-inner-color, -50%), transparent;
    -fx-border-width: 0 0 1 0, 0 0 1 0;
    -fx-border-insets: 0, 0 0 1 0;
}

.combo-box-base:editable:focused > .arrow-button {
    -fx-border-color: -fx-focus-color, -fx-focus-color;
}

.diagram { -fx-padding: 1em; }

.diagram-title {
    -fx-padding: 0 0 1em 0;
    -fx-alignment: center;
    -fx-font-size: 1.5em;
}

.diagram-value {
    -fx-font: 4em "Roboto Light", sans-serif;
    -fx-alignment: center;
}

.diagram-description {
    -fx-font-size: 1.5em;
    -fx-alignment: center;
}

.histogram-shape { -fx-stroke: transparent; }

.default-color0.histogram-shape { -fx-fill: CHART_COLOR_1; }

.default-color1.histogram-shape { -fx-fill: CHART_COLOR_2; }

.default-color2.histogram-shape { -fx-fill: CHART_COLOR_3; }

.default-color3.histogram-shape { -fx-fill: CHART_COLOR_4; }

.default-color4.histogram-shape { -fx-fill: CHART_COLOR_5; }

.default-color5.histogram-shape { -fx-fill: CHART_COLOR_6; }

.default-color6.histogram-shape { -fx-fill: CHART_COLOR_7; }

.default-color7.histogram-shape { -fx-fill: CHART_COLOR_8; }

.default-color8.histogram-shape { -fx-fill: CHART_COLOR_9; }

.default-color9.histogram-shape { -fx-fill: CHART_COLOR_10; }

.donut-shape {
    -fx-fill: transparent;
    -fx-stroke-line-cap: butt;
}

.default-color0.donut-shape { -fx-stroke: CHART_COLOR_1; }

.default-color1.donut-shape { -fx-stroke: CHART_COLOR_2; }

.default-color2.donut-shape { -fx-stroke: CHART_COLOR_3; }

.default-color3.donut-shape { -fx-stroke: CHART_COLOR_4; }

.default-color4.donut-shape { -fx-stroke: CHART_COLOR_5; }

.default-color5.donut-shape { -fx-stroke: CHART_COLOR_6; }

.default-color6.donut-shape { -fx-stroke: CHART_COLOR_7; }

.default-color7.donut-shape { -fx-stroke: CHART_COLOR_8; }

.default-color8.donut-shape { -fx-stroke: CHART_COLOR_9; }

.default-color9.donut-shape { -fx-stroke: CHART_COLOR_10; }

.axis {
    AXIS_COLOR: -fx-chart-grid-color;
}

.chart-vertical-grid-lines {
    -fx-stroke: -fx-chart-grid-color;
}

.chart-horizontal-grid-lines {
    -fx-stroke: -fx-chart-grid-color;
}

.chart-area-symbol {
    -fx-background-color: CHART_COLOR_1;
    -fx-background-radius: 0.5em;
    -fx-padding: 0.3em;
}

.chart-calendar-day.day-0 { -fx-background-color: derive(-fx-background, 7.5%); }

.chart-calendar-day.day-1 { -fx-background-color: #566473; }

.chart-calendar-day.day-2 { -fx-background-color: #5c7a99; }

.chart-calendar-day.day-3 { -fx-background-color: #497eb3; }

.chart-calendar-day.day-4 { -fx-background-color: #297acc; }

.graph-view {
}

.graph-view .commit-node.node-color0 { -fx-fill: -git-active-blue; }

.graph-view .commit-node.node-color1 { -fx-fill: CHART_COLOR_1; }

.graph-view .commit-node.node-color2 { -fx-fill: CHART_COLOR_2; }

.graph-view .commit-node.node-color3 { -fx-fill: CHART_COLOR_3; }

.graph-view .commit-node.node-color4 { -fx-fill: CHART_COLOR_4; }

.graph-view .commit-node.node-color5 { -fx-fill: CHART_COLOR_5; }

.graph-view .commit-node.node-color6 { -fx-fill: CHART_COLOR_6; }

.graph-view .commit-node.node-color7 { -fx-fill: CHART_COLOR_7; }

.graph-view .commit-path {
    -fx-stroke-width: 3px;
}

.graph-view .commit-path.path-color0 { -fx-stroke: -git-active-blue; }

.graph-view .commit-path.path-color1 { -fx-stroke: CHART_COLOR_1; }

.graph-view .commit-path.path-color2 { -fx-stroke: CHART_COLOR_2; }

.graph-view .commit-path.path-color3 { -fx-stroke: CHART_COLOR_3; }

.graph-view .commit-path.path-color4 { -fx-stroke: CHART_COLOR_4; }

.graph-view .commit-path.path-color5 { -fx-stroke: CHART_COLOR_5; }

.graph-view .commit-path.path-color6 { -fx-stroke: CHART_COLOR_6; }

.graph-view .commit-path.path-color7 { -fx-stroke: CHART_COLOR_7; }

.graph-view-cell { -fx-spacing: 0.3em; }

.graph-view-cell > * { -fx-spacing: 0.5em; }

.graph-view-cell .commitId {
    -fx-fill: -fx-text-base-color;
    -fx-font-weight: bold;
}

.graph-view-cell .date {
    -fx-fill: -git-yellow;
}

.graph-view-cell .branches {
    -fx-spacing: 0.5em;
}

.graph-view-cell .message {
    -fx-fill: -fx-text-base-color;
}

.graph-view-cell .author {
    -fx-fill: derive(-fx-text-base-color, -30%);
}

.progress-circle {
    -fx-fill: -git-active-blue;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 2, 0, 2, 2);
}

.git-view > .tool-bar .button {
    -fx-min-width: 48px;
    -fx-content-display: top;
    -fx-background-color: transparent;
}

.git-view > .tool-bar .button:focused {
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.git-view > .tool-bar .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.git-view > .tool-bar .button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

.git-view > * > .content {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.settings-view {
    -fx-hgap: 0.3em;
    -fx-vgap: 0.3em;
}

.settings-view .label {
    -fx-font-weight: bold;
}

.about-view {
    -fx-hgap: 0.3em;
    -fx-vgap: 0.5em;
}

.about-view .author {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.repository-view {
    -fx-spacing: 0.5em;
}

.repository-view .button,
.repository-view .combo-box {
    -fx-background-radius: 0;
    -fx-pref-height: 28px;
}

.repository-view .button:focused,
.repository-view .combo-box:focused {
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}

.repository-view .button {
    -fx-background-insets: 0 0 -1 0, 0, 1 0 1 0, 2 0 2 0;
}

.repository-view .combo-box {
    -fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 0;
}

.repository-view .tree-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.repository-cell {
    -fx-padding: 0 0 0 0.5em;
    -fx-spacing: 0.5em;
    -fx-alignment: center-left;
}

.repository-cell .settings {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.repository-cell .icon-wrapper {
    -fx-min-width: 24px;
}

.repository-cell .settings:hover .icon {
    -fx-fill: -fx-text-base-color;
}

.repository-cell .settings .icon {
    -fx-fill: derive(-fx-text-base-color, -40%);
}

.repository-cell.current .label { -fx-text-fill: -git-active-blue; }

.repository-cell.current .icon { -fx-fill: -git-active-blue; }

.repository-cell.detached .label { -fx-text-fill: -git-red; }

.repository-cell.detached .icon { -fx-fill: -git-red; }

.repository-list-cell {
}

.repository-path {
    -fx-font-size: 0.9em;
    -fx-text-fill: derive(-fx-text-inner-color, -30%);
}

.repository-divergence {
    -fx-spacing: 0.5em;
}

.repository-divergence .label {
    -fx-text-fill: -git-active-blue;
}

.repository-divergence .icon {
    -fx-font-size: 12px;
    -fx-fill: -git-active-blue;
}

.log-view {
    -fx-orientation: vertical;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.log-view .list-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.progress-pane-bar {
    -fx-indeterminate-bar-length: 400;
}

.progress-pane-bar > .bar {
    -fx-padding: 0.15em;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-pane-bar:indeterminate > .bar {
    -fx-background-color: -fx-focus-color;
}

.progress-pane-bar > .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.commit-view {
    -fx-spacing: 0.75em;
}

.working-copy-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
    -fx-orientation: horizontal;
}

.working-copy-view .files {
    -fx-orientation: vertical;
}

.working-copy-view .files .file-status-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.file-status-view .list-cell {
    -fx-graphic-text-gap: 1em;
}

.file-status-view .list-cell .icon-wrapper {
    -fx-min-width: 24px;
}

.commit-details-view > * > .split-pane {
    -fx-orientation: vertical;
}

.commit-details-view .file-status-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.commit-details-view .overlay {
    -fx-font-size: 1.25em;
}

.stats-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.stats-view > * {
    -fx-vgap: 1em;
}

.stats-view .synopsis {
    -fx-padding: 2em 0 3em 0;
    -fx-spacing: 3em;
    -fx-alignment: center;
}

.stats-view .synopsis > * {
    -fx-alignment: center;
}

.branch-badge {
    -fx-padding: 1px 0.5em 1px 0.5em;
    -fx-text-fill: derive(-git-badge, 25%);
    -fx-background-color: derive(-git-badge, -25%), derive(-git-badge, -35%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 1, 0, 1, 1);
}

.branch-badge .icon {
    -fx-font-size: 12px;
    -fx-fill: derive(-git-badge, 25%);
}

.branch-badge.current {
    -fx-text-fill: white;
    -fx-background-color: derive(-git-badge, 25%), -git-badge;
}

.branch-badge.current .icon {
    -fx-fill: white;
}

.branch-badge.detached {
    -fx-text-fill: white;
    -fx-background-color: derive(-git-red, 25%), -git-red;
}

.branch-badge.detached .icon {
    -fx-fill: white;
}

.count-badge {
    -fx-padding: 0.05em 0.25em 0.05em 0.25em;
    -fx-min-width: 18px;
    -fx-alignment: center;
    -fx-background-color: -fx-focus-color;
    -fx-background-radius: 1em;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 2, 0, 2, 2);
}

.overlay {
    -fx-background-color: -fx-background;
    -fx-font-size: 2em;
}

.overlay * {
    -fx-alignment: center;
    -fx-fill: -fx-text-base-color;
}

.overlay .box {
    -fx-spacing: 1em;
}

.overlay .box > * {
    -fx-spacing: 0.5em;
}

.overlay .box .shortcut {
    -fx-fill: -fx-focus-color;
}

.overlay .box .icon {
    -fx-font-size: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.45), 2, 0, 2, 2);
}

.progress-overlay {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}

.progress-overlay .label {
    -fx-font-size: 2em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.45), 2, 0, 2, 2);
}

.status-count-view {
    -fx-alignment: center-left;
    -fx-spacing: 0.5em;
}

.label.status-conflict,
.label.status-added,
.label.status-copied,
.label.status-renamed,
.label.status-modified,
.label.status-changed,
.label.status-removed,
.label.status-missing,
.label.status-untracked {
    -fx-font-weight: bold;
}

.label.status-conflict { -fx-text-fill: -git-status-conflict; }

.status-conflict .icon { -fx-fill: -git-status-conflict; }

.label.status-added { -fx-text-fill: -git-status-added; }

.status-added .icon { -fx-fill: -git-status-added; }

.label.status-copied { -fx-text-fill: -git-status-copied; }

.status-copied .icon { -fx-fill: -git-status-copied; }

.label.status-renamed { -fx-text-fill: -git-status-renamed; }

.status-renamed .icon { -fx-fill: -git-status-renamed; }

.label.status-modified { -fx-text-fill: -git-status-modified; }

.status-modified .icon { -fx-fill: -git-status-modified; }

.label.status-removed { -fx-text-fill: -git-status-removed; }

.status-removed .icon { -fx-fill: -git-status-removed; }

.label.status-missing { -fx-text-fill: -git-status-missing; }

.status-missing .icon { -fx-fill: -git-status-missing; }

.label.status-untracked { -fx-text-fill: -git-status-untracked; }

.status-untracked .icon { -fx-fill: -git-status-untracked; }

.git {
    -fx-spacing: 0.3em;
    -fx-alignment: center;
    -fx-font: normal 13px "Liberation Mono", monospace;
}
