.dialog-pane {
  .header-panel {
    @include pad0;

    -fx-background-color: $color-b2;

    .label {
      -fx-font-size: 1.2em;
    }
    .graphic-container .icon {
      @include shadow1;

      -fx-min-width: 3em;
      -fx-min-height: 3em;
      -fx-font-size: 3em;
    }
  }
  > .content {
    @include pad0;
  }
  > .button-bar > .container {
    @include pad0;
    @include spc0;
  }
}
