.graph-list-view {
  .list-cell {
    > * {
      @include spc1;

      > * {
        @include spc0;
      }
    }
    .commitId {
      @include fontH1;
    }
    .date,
    .message,
    .author {
      @include fontH0;
    }
    .branches {
      @include spc1;

      .badge {
        -fx-padding: 0 0.25em 0 0.25em;
        -fx-text-fill: material-color('blue-grey', '900');
        -fx-background-color: material-color('cyan', 'a200');
        -fx-background-radius: 0.25em;
        -fx-opacity: 0.4;

        .icon {
          -fx-fill: material-color('blue-grey', '900');
        }
        &.current {
          -fx-opacity: 1;
        }
        &.detached {
        }
      }
    }
  }
  @for $i from 0 through 11 {
    .path-color#{$i} {
      -fx-stroke-width: 3px;
    }
  }
  @for $i from 0 through 11 {
    .path-color#{$i} {
      -fx-stroke: white;
    }
    .node-color#{$i} {
      -fx-fill: white;
    }
  }
}
