.list-cell,
.tree-cell {
  @include pad1;

  &:filled:hover {
    -fx-background-color: $color-b2;
  }
  &:filled:selected {
    -fx-background-color: $color-c2;
  }
}

.list-cell {
  @include fontH0;
  @include spc1;
}

.tree-cell {
  -fx-indent: 1em;

  > .tree-disclosure-node {
    -fx-padding: 4 6 4 8;

    > .arrow {
      -fx-background-color: $color-f0;
      -fx-padding: 0.333333em 0.229em 0.333333em 0.229em;
      -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
    }
  }
  &:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
  }
}
