.tab-pane {
  > .tab-header-area > .headers-region > .tab {
    @include pad0;

    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;

    &:hover {
      -fx-background-color: $color-b2;
    }
    &:focused {
      -fx-background-color: $color-b2;
    }
    &:selected {
      //-fx-background-color: $color-b2;
      -fx-border-color: $color-f1;

      > .tab-container > .tab-label {
        -fx-text-fill: $color-f1;

        .icon {
          -fx-fill: $color-f1;
        }
      }
    }
    > .tab-container > .tab-label {
      @include fontH0;
    }
  }
}
