.tool-bar {
  @include pad1;
  @include spc1;

  -fx-background-color: $color-b2;

  > .separator {
    @include padR0;
  }
  .count {
    -fx-min-width: 1.25em;
    -fx-alignment: center;
    -fx-background-color: material-color('cyan', '500');
    -fx-background-radius: 10em;
  }
}
