.repository-view {
  &__content {
    .tree-cell {
      > * {
        @include spc1;

        &.current {
          .label {
            -fx-text-fill: $color-f1;
          }
          .icon {
            -fx-fill: $color-f1;
          }
        }
        &.detached {
          .label {
            -fx-text-fill: $color-f1;
          }
          .icon {
            -fx-fill: $color-f1;
          }
        }
      }
    }
  }
}
