@import "./color-palette";

$color-b0: material-color('blue-grey', '1000');
$color-b1: material-color('blue-grey', '900');
$color-b2: material-color('blue-grey', '800');

$color-f0: white;
$color-f1: material-color('cyan', 'a200');

$color-c0: material-color('blue-grey', '700');
$color-c1: material-color('blue-grey', '600');
$color-c2: material-color('cyan', '900');

@mixin disabled {
  -fx-opacity: 0.3;
}

@mixin control {
  -fx-background-color: $color-c0;

  &:hover,
  &:focused {
    -fx-background-color: $color-c1;
  }
  &:disabled {
    @include disabled;
  }
}
