@mixin pad0 {
  -fx-padding: 1em;
}

@mixin pad1 {
  -fx-padding: 0.5em 1em 0.5em 1em;
}

@mixin pad2 {
  -fx-padding: 0.25em;
}

@mixin padR0 {
  -fx-padding: 0 2em 0 0;
}

@mixin padR1 {
  -fx-padding: 0 1em 0 0;
}

@mixin padR2 {
  -fx-padding: 0 0.5em 0 0;
}

@mixin padR3 {
  -fx-padding: 0 0.25em 0 0;
}

@mixin padL0 {
  -fx-padding: 0 0 0 2em;
}

@mixin padL1 {
  -fx-padding: 0 0 0 1em;
}

@mixin padL2 {
  -fx-padding: 0 0 0 0.5em;
}

@mixin padL3 {
  -fx-padding: 0 0 0 0.25em;
}

@mixin spc0 {
  -fx-spacing: 1em;
  -fx-graphic-text-gap: 1em;
}

@mixin spc1 {
  -fx-spacing: 0.5em;
  -fx-graphic-text-gap: 0.5em;
}

@mixin spc2 {
  -fx-spacing: 0.25em;
  -fx-graphic-text-gap: 0.25em;
}
