.context-menu
  -fx-background-color: $background
  -fx-effect: $shadow-popup

  .separator:horizontal .line
    -fx-border-color: lighten($background, 15%) transparent transparent transparent
    -fx-border-insets: 1 0 0 0
